// * {
//   border: solid 1px red;
// }

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #c2c2c2;
  display: flex;
  width: 100%;
  height: 100%;
}

.left-side {
  background-color: #fff;
  flex: 0 0 60%;
  overflow: scroll;

  .flat-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;
  }

  .flat {
    margin: 0 0 5px 0;
    position: relative;
    
    img {
      width: 100%;
    }  

    &::before {
      content: "";
      background-color: #000;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      transition: 0.3s;
    }

    &:hover::before {
      display: none;
    }

    &:hover p {
      display: none;
    }

    &__price {
      margin: 0;
      color: rgb(255, 255, 255);
      font-weight: bold;
      position: absolute;
      left: 20px;
      top: 20px;
    } 

    &__name {
      margin: 0;
      position: absolute;
      color: #fff;
      font-size: 20px;
      left: 20px;
      bottom: 20px;
      font-weight: bold;
    }
  }
}    

.right-side {
  width: 40%;
}
