body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #dddddd;
  display: flex;
}

.left-side {
}

.flat-list {
  
}

.flat {
  border: color red 2px solid;
  width: 200px;
}    

.right-side {

}


.price {
    position: absolute;
}

